* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

.links {
    display: flex;
    justify-content: center;
    width: 710px;
    height: 30px;
}

#headerbanner {
    display: flex;
    justify-content: center;
    padding: 0%;
    flex: 0px;
    background-color: rgb(0, 0, 0);
    width: 80vw;
    height: 60px;
    position: fixed;
}

.menu {
    margin: 20px auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    margin: 20px 0px 0;
}

.titulobanner {
    height: 80px;
    font-style: bold;
    margin-top: 100px;
    font-size: 40px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#subtitulobanner {
    font-size: 15px;
    color: white;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botão {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    display: flex;
    justify-content: center;
    background-color: #7729A8;
    margin: 30px auto;
    width: 200px;
    height: 70px;
    border-radius: 20px;
}

#infbanner {
    display: block;
    justify-content: center;
}

.txtbot {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    color: white;
    margin: auto;
    font-size: 30px;
}

#footerbanner {
    background-color: black;
    height: 103px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: auto;
    margin: 0px 0px;
}

body {
    display: block;
    justify-content: center;
    background-color: #43165f;
    background-image: linear-gradient(to right, #43165f, #43165f, #43165f, black, black);
}

#cs {
    margin: auto;
}

#lol {
    margin: auto;
}

#val {
    margin: auto;
}
#dbd {
    margin: auto;
}

#brawl {
    margin: auto;
}

.grid {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 1200px;
    margin: 0 auto;
    
}

#fundo {
    z-index: 99;
    width: auto;
    height: auto;
}

#bannernix {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 0 1000px rgba(0, 1, 70, 0.801);
    background-image: url(bannernix.jpg);
    width: auto;
    height: 575px;
}

#nix {
    position: absolute;
    margin: 50px 61px;
}

#boxtxtnix {
    position: absolute;
    background-color: rgba(0, 1, 70, 0.616);
    margin: 50px 661px;
    width: 500px;
    height: 400px;
    border: 3px solid black;
    border-radius: 50px;
}

.titulonix {
    display: flex;
    justify-content: center;
    margin: 30px 10px 10px 10px;
    height: 50px;
    font-style: bold;
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textonix {
    font-size: 17px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px 10px 10px 10px;
}
